ion-content {
    --background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url('/assets/imgs/fondoIS.jpg');
    --background-position: center top;
    --background-repeat: repeat-y;
    --background-size: cover;
}

ion-toolbar {
    // Gradiente
    --background: rgb(18,142,170); /* Old browsers */
    --background: -moz-linear-gradient(-45deg,  rgba(18,142,170,1) 0%, rgba(0,63,81,1) 100%); /* FF3.6-15 */
    --background: -webkit-linear-gradient(-45deg,  rgba(18,142,170,1) 0%,rgba(0,63,81,1) 100%); /* Chrome10-25,Safari5.1-6 */
    --background: linear-gradient(135deg,  rgba(18,142,170,1) 0%,rgba(0,63,81,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#128eaa', endColorstr='#003f51',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
  
.title {
    font-family: MCoBold;
    font-size: 35px;
    color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.borderA {
    border: 2px solid #0a687f;
}

.borderB {
    border-left: 2px solid #0a687f;
    border-right: 2px solid #0a687f;
    border-bottom: 2px solid #0a687f;
}

.borderC {
    border-right: 2px solid #0a687f;
    border-bottom: 2px solid #0a687f;
}

.borderD {
    border-left: 2px solid #0a687f;
    border-right: 2px solid #0a687f;
    border-bottom: 2px solid #0a687f;
}

.borderE {
    border-right: 2px solid #0a687f;
    border-bottom: 2px solid #0a687f;
}

.borderImg {
    height: 15em !important;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.4)),url('/assets/imgs/galleryf.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

