<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col size="3" style="text-align:center !important">
          <ion-button (click)="this.exit()" style="--border-radius: 100% !important;">
            <ion-icon name="arrow-undo-outline" style="color: black;"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="6" style="text-align:center !important" class="title">
          <ion-label>{{'mcampaign.title' | translate}}</ion-label>
        </ion-col>

        <ion-col size="3" style="text-align:center !important">
          <ion-button (click)="repro()" style="--border-radius: 100% !important;">
            <ion-icon name="mic" style="color: black;"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box">
    <ion-grid style="font-size: 12px;">

      <ion-row>
        <ion-col size="0.5">
        </ion-col>

        <ion-col style="width: 100%; height: 100%;" size="11">
          <div class="borderImg">
            <ion-thumbnail style="width: 100%; height: 100%; border-radius: 15% !important;">
              <ion-img src={{this.campaign.picture}}></ion-img>
            </ion-thumbnail>
          </div>
        </ion-col>

        <ion-col size="0.5">
        </ion-col>
      </ion-row>

      <ion-row style="padding-right: 7px; padding-left: 7px; text-align: center;">
        <ion-col style="font-family: MCoBold; font-size: 2rem; color: black;">
          {{campaign.namecampaign}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>

      <ion-row style="padding-right: 7px; padding-left: 7px;">
        <ion-col class="border3N" size="12">
          {{'description.title' | translate}}
        </ion-col>
      </ion-row>

      <ion-row style="padding-right: 7px; padding-left: 7px;">
        <ion-col class="border4N" size="12">
          {{campaign.description}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>

      <ion-row style="padding-right: 7px; padding-left: 7px;">
        <ion-col style="display: flex; align-items: center; justify-content: center; height: 18em;">
          <iframe [src]="urlSafeC"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            style="width: 100%; height: 100%;"></iframe>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
