ion-toolbar {
  // Gradiente
  --background: rgb(18,142,170); /* Old browsers */
  --background: -moz-linear-gradient(-45deg,  rgba(18,142,170,1) 0%, rgba(0,63,81,1) 100%); /* FF3.6-15 */
  --background: -webkit-linear-gradient(-45deg,  rgba(18,142,170,1) 0%,rgba(0,63,81,1) 100%); /* Chrome10-25,Safari5.1-6 */
  --background: linear-gradient(135deg,  rgba(18,142,170,1) 0%,rgba(0,63,81,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#128eaa', endColorstr='#003f51',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.title {
  font-family: MCoBold;
  font-size: 2.2rem;
  color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.border1N {
  border-top: 2px solid #0a687f;
  border-left: 2px solid #0a687f;
  text-align: center;
  padding: 5;
  font-weight: bold;
  background-color: rgb(149, 224, 243);
}

.border2N {
  border-top: 2px solid #0a687f;
  border-left: 2px solid #0a687f;
  border-right: 2px solid #0a687f;
  text-align: center;
  padding: 5;
}

.borderA {
  border: 2px solid #0a687f;
  text-align: center;
  font-weight: bold;
  background-color: rgb(149, 224, 243);
}

.borderB {
  border-top: 2px solid #0a687f;
  border-bottom: 2px solid #0a687f;
  text-align: center;
}

.borderC {
  border-top: 2px solid #0a687f;
  border-bottom: 2px solid #0a687f;
  border-left: 2px solid #0a687f;
  text-align: center;
  font-weight: bold;
  background-color: rgb(149, 224, 243);
}

.borderD {
  border: 2px solid #0a687f;
  text-align: center;
}
