<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col size="3" style="text-align:center !important">
          <ion-button (click)="this.exit()" style="--border-radius: 100% !important;">
            <ion-icon name="arrow-undo-outline" style="color: black;"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="6" style="text-align:center !important" class="title">
          <ion-label>{{'mcharacter.title' | translate}}</ion-label>
        </ion-col>

        <ion-col size="3" style="text-align:center !important">
          <ion-button (click)="this.generatePDF()" style="--border-radius: 100% !important;">
            <ion-icon src="assets/imgs/pdf-file.svg" style="color: black;"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box">
    <ion-grid style="font-size: 12px;">

      <ion-row>
        <ion-col size="1">
        </ion-col>

        <ion-col style="width: 100%; height: 100%;" size="10">
          <div class="borderImg">
            <ion-thumbnail style="width: 100%; height: 100%; border-radius: 15% !important;">
              <ion-img src={{this.character.image}}></ion-img>
            </ion-thumbnail>
          </div>
        </ion-col>

        <ion-col size="1">
        </ion-col>
      </ion-row>

      <ion-row style="padding-right: 7px; padding-left: 7px; text-align: center;">
        <ion-col style="font-family: MCoBold; font-size: 2rem; color: black;">
          {{character.namecharacter}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>

      <ion-row class="pprow">
        <ion-col class="borderE4">
          {{'Mrace.title' | translate}}
          ({{character.race}})
        </ion-col>
      </ion-row>

      <ion-row class="pprow">
        <ion-col class="borderE2">
          {{this.loreRaza}}
        </ion-col>
      </ion-row>

      <ion-row class="pprow">
        <ion-col style="display: flex; align-items: center; justify-content: center; height: 18em;">
          <iframe [src]="urlSafe2"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            style="width: 100%; height: 100%;"></iframe>
        </ion-col>
      </ion-row>

      <ion-row class="pprow">
        <ion-col></ion-col>
      </ion-row>

      <ion-row class="pprow">
        <ion-col size="9" class="borderA">
          {{'CARACTERISTICA.title' | translate}}
        </ion-col>
        <ion-col size="3" class="borderB">
          BONUS
        </ion-col>
      </ion-row>

      <!-- strength -->
      <ion-row class="pprow">
        <ion-col class="borderD" size="2" style="background-color: #3880ff;">
          <ion-icon class="icons" name="strength" src="assets/imgs/formcha/strength.svg"></ion-icon>
        </ion-col>
        <ion-col class="borderC" size="4">
          {{'Mstrength.title' | translate}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{character.strength}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{this.fue}}
        </ion-col>
      </ion-row>

      <!-- dexterity -->
      <ion-row class="pprow">
        <ion-col class="borderD" size="2" style="background-color: #3dc2ff;">
          <ion-icon class="icons" name="dexterity" src="assets/imgs/formcha/dexterity.svg"></ion-icon>
        </ion-col>
        <ion-col class="borderC" size="4">
          {{'Mdexterity.title' | translate}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{character.dexterity}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{this.des}}
        </ion-col>
      </ion-row>

      <!-- constitution -->
      <ion-row class="pprow">
        <ion-col class="borderD" size="2" style="background-color: #2dd36f;">
          <ion-icon class="icons" name="constitution" src="assets/imgs/formcha/constitution.svg"></ion-icon>
        </ion-col>
        <ion-col class="borderC" size="4">
          {{'Mconstitution.title' | translate}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{character.constitution}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{this.con}}
        </ion-col>
      </ion-row>

      <!-- intelligence -->
      <ion-row class="pprow">
        <ion-col class="borderD" size="2" style="background-color: #f4f5f8;">
          <ion-icon class="icons" name="intelligence" src="assets/imgs/formcha/intelligence.svg"></ion-icon>
        </ion-col>
        <ion-col class="borderC" size="4">
          {{'Mintelligence.title' | translate}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{character.intelligence}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{this.int}}
        </ion-col>
      </ion-row>

      <!-- wisdom -->
      <ion-row class="pprow">
        <ion-col class="borderD" size="2" style="background-color: #eb445a;">
          <ion-icon class="icons" name="wisdom" src="assets/imgs/formcha/wisdom.svg"></ion-icon>
        </ion-col>
        <ion-col class="borderC" size="4">
          {{'Mwisdom.title' | translate}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{character.wisdom}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{this.sab}}
        </ion-col>
      </ion-row>

      <!-- charisma -->
      <ion-row class="pprow">
        <ion-col class="borderD" size="2" style="background-color: #ffc409; width: 2em;">
          <ion-icon class="icons" name="charisma" src="assets/imgs/formcha/charisma.svg"></ion-icon>
        </ion-col>
        <ion-col class="borderC" size="4">
          {{'Mcharisma.title' | translate}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{character.charisma}}
        </ion-col>
        <ion-col class="borderE" size="3">
          {{this.car}}
        </ion-col>
      </ion-row>

      <ion-row class="pprow">
        <ion-col></ion-col>
      </ion-row>

      <ion-row class="pprow">
        <ion-col style="display: flex; align-items: center; justify-content: center;">
          <ion-img class="iroll" src={{this.aux}}></ion-img>
        </ion-col>
      </ion-row>

      <ion-row class="pprow">
        <ion-col class="borderE4">
          {{'Mclass.title' | translate}}
          ({{character.rolclass}})
        </ion-col>
      </ion-row>
      <ion-row class="pprow">
        <ion-col class="borderE2">
          {{this.loreClase}}
        </ion-col>
      </ion-row>
      <ion-row class="pprow">
        <ion-col class="borderE3">
          {{'COMPETENCIAS.title' | translate}}
        </ion-col>
      </ion-row>
      <ion-row class="pprow">
        <ion-col class="borderE2">
          {{this.aux2}}
          {{this.aux3}}
        </ion-col>
      </ion-row>

      <ion-row class="pprow">
        <ion-col style="display: flex; align-items: center; justify-content: center; height: 18em;">
          <iframe [src]="urlSafe"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            style="width: 100%; height: 100%;"></iframe>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>


</ion-content>