ion-content {
    --background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url('/assets/imgs/fondoIS.jpg');
    --background-position: center top;
    --background-repeat: repeat-y;
    --background-size: cover;
}

ion-toolbar {
    // Gradiente
    --background: rgb(150,106,24); /* Old browsers */
    --background: -moz-linear-gradient(-45deg,  rgba(150,106,24,1) 0%, rgba(104,45,8,1) 100%); /* FF3.6-15 */
    --background: -webkit-linear-gradient(-45deg,  rgba(150,106,24,1) 0%,rgba(104,45,8,1) 100%); /* Chrome10-25,Safari5.1-6 */
    --background: linear-gradient(135deg,  rgba(150,106,24,1) 0%,rgba(104,45,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#966a18', endColorstr='#682d08',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.title {
    font-family: MCoBold;
    font-size: 2.2rem;
    color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.borderImg {
    height: 15em;
    margin-bottom: 1em;
    margin-top: 1em;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.4)),url('/assets/imgs/galleryf.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.borderA {
    border: 2px solid #7f4b10;
}

.borderB {
    height: 200px;
    border-left: 2px solid #7f4b10;
    border-right: 2px solid #7f4b10;
    border-bottom: 2px solid #7f4b10;
}