<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="custom" style="zoom:1.5"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col size="1" style="text-align:center !important">
        </ion-col>

        <ion-col size="7" style="text-align:center !important" class="title">
          {{'bestiary.title' | translate}}
        </ion-col>

        <ion-col size="1" style="text-align:center !important">
        </ion-col>

        <ion-col size="3" style="text-align:center !important">
          <ion-button routerLink="/home" style="--border-radius: 100% !important;">
            <ion-icon name="home" style="color: black;"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img src="assets/imgs/bestiary/reddragon.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Dragón rojo</ion-card-title>
            <ion-card-subtitle>Dragón gargantuesco, Caótico malvado</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            El más codicioso de los dragones auténticos, el dragón
            rojo, buscará incansablemente aumentar sus reservas de
            riqueza, es excepcionalmente vanidoso, incluso para los
            dragones, y su engreimiento se reflejará en su porte altivo
            y el deprecio que procure hacia otras criaturas. El olor a
            azufre y piedra volcánica envuelve a un dragón rojo, cuyos
            cuernos retorcidos traseros y sus espinas dorsales como
            flechas definen su silueta. Sus orificios nasales en forma
            picuda desprenden humo continuamente, sus ojos bullen
            como el fuego cuando está enojado. Sus alas son las más
            largas de entre los dragones cromáticos tienen un tinte
            negro azulado a lo largo del borde exterior que se asemeja
            al metal que ha ardido. Las escamas de la cría de dragón
            son de un color escarlata brillante, volviéndose apagado, y
            de un rojo profundo, convirtiéndose en gruesas y fuertes
            como el metal según el dragón envejezca. Sus pupilas
            también se apagan a medida que envejece, y los dragones
            más antiguos tienen los ojos que se asemejan a orbes de
            lava derretida.
            <br><br>
            Los dragones rojos prefieren
            terrenos montañosos y tierras baldías, así como otros
            lugares donde puedan posarse en las alturas y escudriñar
            sus dominios. Su preferencia por las montañas les lleva a
            enfrentarse con los dragones de cobre de vez en cuando.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img src="assets/imgs/bestiary/modron.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Modrones</ion-card-title>
            <ion-card-subtitle>Constructo mediano, Legal neutral</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Los modrones son seres de ley absoluta que se adhieren a
            una jerarquía de tipo colmena. Habitan en el plano de
            Mechanus y cuidan sus engranajes eternamente girando,
            siendo su existencia una rutina de relojería de perfecto
            orden. Bajo la dirección de su líder,
            Primus, los modrones aumentan el orden en el multiverso
            de acuerdo con las leyes más allá de la comprensión de las
            mentes mortales. Sus mentes están conectadas en red en
            una pirámide jerárquica, en la que cada modrón recibe
            órdenes de los superiores y delegan órdenes a los
            subordinados. Un modrón sigue las órdenes con una
            obediencia total, máxima eficiencia, y ausencia de
            moralidad o ego.
            <br><br>
            Los modrones no tienen sentido del yo más allá de lo
            necesario para cumplir con sus deberes. Existen como un
            colectivo unificado, divididos por rangos, y siempre se
            refieren a sí mismos colectivamente. Para una modrón, no
            hay un "yo", sino sólo "nosotros".
            <br><br>
            Los modrones se comunican sólo
            con su propio rango, las filas que se encuentran
            inmediatamente por encima y debajo de ellos. Los
            modrones a más de un rango de distancia son demasiado
            avanzados o demasiado sencillos de entenderles.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img src="assets/imgs/bestiary/Wyvern.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Wyvern</ion-card-title>
            <ion-card-subtitle>Gran dragón, Sin alineamiento</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Los viajeros en plena naturaleza a veces miran al cielo para ver encontrarse con la forma de alas oscuras de
            un wyvern que lleva a su presa. Estos primos lejanos de los grandes dragones cazan los mismos bosques y
            cavernas
            enmarañados que sus parientes. Su aparición envía ondas de alarma a través de las fronteras de la
            civilización.
            <br><br>
            Un wyvern tiene dos patas escamosas, alas correosas y una cola fibrosa rematada con su arma más potente: un
            aguijón venenoso. El veneno en el aguijón de un wyvern puede matar a una criatura en segundos.
            Extremadamente potente, el veneno de wyvern quema a través del torrente sanguíneo de su víctima,
            desintegrando las venas y arterias en su camino hacia el corazón. Sin embargo, por muy letales que puedan
            ser los wyverns, los cazadores y aventureros a menudo los rastrean para reclamar el veneno, que se usa en
            compuestos alquímicos y para revestir armas.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img src="assets/imgs/bestiary/goblin.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Trasgo</ion-card-title>
            <ion-card-subtitle>Humanoide (trasgoide) pequeño, Neutral</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Los trasgos son una raza de trasgoides asaltantes y saqueadores de diversas aldeas y pueblos que toman lo
            que pueden con fuego, sangre y el dolor de otras razas más avanzadas antes de desvanecerse en los terrenos
            salvajes donde viven. Suelen participar en incursiones nocturnas sobre sus enemigos, a veces
            cabalgando sobre huargos. A menudo se encuentran dominados por otras criaturas más poderosas y tiranicas.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img src="assets/imgs/bestiary/Minotaur.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Minotauro</ion-card-title>
            <ion-card-subtitle>Horror grande, Caótico malvado</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Los minotauros son los descendientes oscuros de humanoides
            transformados por los rituales de sectas que rechazan la opresión
            de la autoridad regresando a la naturaleza. Nuevos miembros a
            menudo confunden estos cultos con los círculos druidas o
            religiones totémicas cuyas ceremonias implican entrar en
            un laberinto mientras llevan una máscara ceremonial de
            animal. Dentro de estos ambientes delimitados, los cultistas
            cazan, matan y comen animales salvajes, dando rienda
            suelta a sus más bajos impulsos primarios. Al final, sin
            embargo, los animales sacrificados son intercambiados por
            sacrificios humanoides, en ocasiones un nuevo integrante
            que intentó escapar del culto después de conocer sus
            secretos. Estos laberintos se convierten en salas de
            masacre empapadas de sangre, haciendo eco al salvajismo
            de los cultistas.
            <br><br>
            Desconocido para todos menos por sus líderes de más
            alto rango, estos cultos misteriosos son creaciones del
            señor demonio Baphomet, el Rey Cornudo, cuya región del
            Abismo es un gigantesco laberinto. Algunos de sus seguidores son suplicantes
            fervientes que abogan por la fuerza y el poder. Otros vienen al culto buscando
            una vida libre de las cadenas de la autoridad y a cambio son liberados de su
            humanidad cuando Baphomet los transforma en los minotauros que hacen eco de
            su propia forma salvaje.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>