<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="custom" style="zoom:1.5"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col size="1" style="text-align:center !important">
        </ion-col>

        <ion-col size="7" style="text-align:center !important" class="title">
          {{'campaigns.title' | translate}}
        </ion-col>

        <ion-col size="1" style="text-align:center !important">
        </ion-col>

        <ion-col size="3" style="text-align:center !important">
          <ion-button routerLink="/home" style="--border-radius: 100% !important;">
            <ion-icon name="home" style="color: black;"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- BUSCAR -->
  <ion-toolbar>
    <ion-searchbar #input showCancelButton="focus" debounce="500" (ionChange)="searchCampaign($event)"></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <!-- EDITAR -->
    <ion-item-sliding *ngFor="let campaign of campanias">
      <ion-item-options side="start" (ionSwipe)="editCampaign(campaign)" *ngIf="this.iduser === this.campaign.contras">
        <ion-item-option color="primary" (click)="editCampaign(campaign)" *ngIf="this.iduser === this.campaign.contras">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <!-- CAMPAÑA -->
      <ion-item lines="none" (click)="this.seecam(campaign)">

        <div style="width: 100%;">

          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-icon name="arrow-forward-circle-outline" style="height: 100%; width: 100%; color: #7f4b10;"></ion-icon>
              </ion-col>
              <ion-col size="10">

                <ion-grid style="font-size: 12px;">
                  <ion-row>
                    <ion-col class="border1N" size="4">
                      <div class="borderImg">
                        <ion-thumbnail style="width: auto; height: 50px; border-radius: 15% !important;">
                          <ion-img src={{this.campaign.picture}}></ion-img>
                        </ion-thumbnail>
                      </div>
                    </ion-col>
                    <ion-col class="border2N" size="8">
                      <!--<div style="text-decoration: underline; height: 5px;">{{'tcampaign.title' | translate}}</div><br>-->
                      <label style="font-size: 18px; font-weight: bold;">{{campaign.namecampaign}}</label>
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>

      <!-- BORRAR -->
      <ion-item-options side="end" (ionSwipe)="presentAlertCam(campaign)" *ngIf="this.iduser == this.campaign.contras">
        <ion-item-option color="danger" (click)="presentAlertCam(campaign)" *ngIf="this.iduser == this.campaign.contras">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- CREAR -->
  <ion-fab (click)="this.addCampaign()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon style="width: 100%; height: 100%;" src="assets/imgs/mas.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
