<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="custom" style="zoom:1.5"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-col size="1" style="text-align:center !important">
        </ion-col>

        <ion-col size="7" style="text-align:center !important" class="title">
          {{'bestiary.title' | translate}}
        </ion-col>

        <ion-col size="1" style="text-align:center !important">
        </ion-col>

        <ion-col size="3" style="text-align:center !important">
          <ion-button routerLink="/home" style="--border-radius: 100% !important;">
            <ion-icon name="home" style="color: black;"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- BUSCAR -->
  <ion-toolbar>
    <ion-searchbar #input showCancelButton="focus" debounce="500" (ionChange)="searchBeast($event)"></ion-searchbar>
  </ion-toolbar>

  <!-- CARGAR_DATOS -->
  <ion-refresher slot="fixed" (ionRefresh)="this.cargaDatos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <!-- EDITAR -->
    <ion-item-sliding *ngFor="let beast of bestias">
      <ion-item-options side="start" (ionSwipe)="editBeast(beast)">
        <ion-item-option color="primary" (click)="editBeast(beast)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <!-- BESTIA -->
      <ion-item lines="none" (click)="this.seecha(beast)">
        <div style="width: 100%;">

          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-icon name="arrow-forward-circle-outline" style="height: 100%; width: 100%; color: rgb(7, 70, 38);">
                </ion-icon>
              </ion-col>
              <ion-col size="10">

                <ion-grid style="font-size: 12px;">
                  <ion-row>
                    <ion-col class="border1N" size="4">
                      {{'Mname.title' | translate}}
                    </ion-col>
                    <ion-col class="border2N">
                      {{beast.namebeast}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="borderA">
                      {{'Tipo.title' | translate}}
                      ({{beast.type}})
                    </ion-col>
                    <ion-col class="borderB">
                      {{'Power.title' | translate}}
                      ({{beast.power}})
                    </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>

      <!-- BORRAR -->
      <ion-item-options side="end" (ionSwipe)="this.presentAlert(beast)">
        <ion-item-option color="danger" (click)="this.presentAlert(beast)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- CREAR -->
  <ion-fab (click)="this.addBeast()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon style="width: 100%; height: 100%;" src="assets/imgs/mas.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>