ion-toolbar {
    // Gradiente
    --background: rgb(25,168,115); /* Old browsers */
    --background: -moz-linear-gradient(-45deg,  rgba(25,168,115,1) 0%, rgba(7,102,59,1) 100%); /* FF3.6-15 */
    --background: -webkit-linear-gradient(-45deg,  rgba(25,168,115,1) 0%,rgba(7,102,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
    --background: linear-gradient(135deg,  rgba(25,168,115,1) 0%,rgba(7,102,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a873', endColorstr='#07663b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.title {
    font-family: MCoBold;
    font-size: 2.2rem;
    color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.border1N {
    border-top: 2px solid rgb(7, 70, 38);
    border-left: 2px solid rgb(7, 70, 38);
    text-align: center;
    padding: 5;
    font-weight: bold;
    background-color: rgb(7, 70, 38);
    color: white;
}
  
.border2N {
    border-top: 2px solid rgb(7, 70, 38);
    border-left: 2px solid rgb(7, 70, 38);
    border-right: 2px solid rgb(7, 70, 38);
    text-align: center;
    padding: 5;
    font-weight: bold;
}
  
.borderA {
    border: 2px solid rgb(7, 70, 38);
    text-align: center;
    font-weight: bold;
    background-color: rgb(14, 126, 70);
    color: white;
    font-size: 0.6rem;
}
  
.borderB {
    border-top: 2px solid rgb(7, 70, 38);
    border-right: 2px solid rgb(7, 70, 38);
    border-bottom: 2px solid rgb(7, 70, 38);
    text-align: center;
    background-color: rgb(14, 126, 70);
    color: white;
    font-weight: bold;
    font-size: 0.6rem;
}
  
.borderD {
    border: 2px solid rgb(21, 146, 100);
    text-align: center;
}