/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.dT {
    --background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)),url("/assets/imgs/imclasses/stone.jpg");
    --height: 4em;
    --width: 4em;
    --border-color: rgb(0, 0, 0);
    --border-width: 2px;
    --border-style: solid;
    --border-radius: 100%;
    --color: rgb(36, 26, 59);
    text-align: center;
    font-size: 2.5rem;
}

.oT {
    --background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)),url("/assets/imgs/imraces/papyrus.jpg");
    --height: 6em;
    --width: 9em;
    --border-color: rgb(0, 0, 0);
    --border-width: 2px;
    --border-style: solid;
    --border-radius: 25px;
    --color: rgb(36, 26, 59);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.loader {
    .loading-wrapper{
        background-color:transparent;
        box-shadow: none;
    }
}

.loadbox {
    margin: 0 auto;
    width: 100%;
    height: 140px;
    // border: solid 1px black;
    position: relative;
  }
  .dice {
    width: 5em;
    height: 5em;
    background-image: url('./assets/imgs/icosaedro.svg');
    background-size: cover;
    color: white;
    animation: roll .8s linear infinite;
  }
  
  @keyframes roll {
    0% {}
    100% { transform: rotate(360deg) }
  }
  @keyframes bounce {
    0% {}
    50% { transform: translateY(100px) }
    100% {}
  }
  @keyframes shadowScale {
    0% {}
    50% { transform: scaleX(1); opacity: .8;}
    100% {}
  }

//_______________________________________FONTS

@font-face {
    font-family: 'youregoneFont';
    font-style: initial;
    src: url('assets/newfonts/youregone.ttf');
}

@font-face {
    font-family: 'dum1';
    font-style: initial;
    src: url('assets/newfonts/dum1.ttf');
}

@font-face {
    font-family: 'MCoBold';
    font-style: initial;
    src: url('assets/newfonts/MCoBold.ttf');
}
