ion-toolbar {
  // Gradiente
  --background: rgb(181,36,36); /* Old browsers */
  --background: -moz-linear-gradient(left,  rgba(181,36,36,1) 0%, rgba(108,0,135,1) 100%); /* FF3.6-15 */
  --background: -webkit-linear-gradient(left,  rgba(181,36,36,1) 0%,rgba(108,0,135,1) 100%); /* Chrome10-25,Safari5.1-6 */
  --background: linear-gradient(to right,  rgba(181,36,36,1) 0%,rgba(108,0,135,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b52424', endColorstr='#6c0087',GradientType=1 ); /* IE6-9 */
}
  
.title {
  font-family: MCoBold;
  font-size: 2.2rem;
  color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ion-slides {
  height: 100%;
  width: 100%;
}

.img {
  height: 21em !important;
  width: 21em !important;
}

.class {
  font-family: dum1;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
  color: rgb(37, 37, 37);
}

.text {
  padding-top: 9px;
  font-size: 0.9rem;
  color: black;
}

.box {
  border-radius: 15px !important;
  width: 90% !important;
  height: 90% !important;
  border: 1px solid rgb(0, 0, 0) !important;
  padding-top: 10px;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 13px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);

  --background: none;
    background-image: url('/assets/imgs/imclasses/stone.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-content {
  --background: none;
    background-color: rgb(31, 31, 31);
}

//__________________________________________________________________slide-background
.fbrb {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url("/assets/imgs/fonclasses/NomadOutpost.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fbrd {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/assets/imgs/fonclasses/PlainsTE.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fbrj {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/assets/imgs/fonclasses/Swamp2021.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fgue {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/assets/imgs/fonclasses/MountainIkoria.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fdru {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/assets/imgs/fonclasses/Forest2021.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fcle {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/assets/imgs/fonclasses/SwiftwaterCliffs.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fmag {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/assets/imgs/fonclasses/IslandTK.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fpal {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/assets/imgs/fonclasses/Paliano.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fexp {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("/assets/imgs/fonclasses/SavaiTriome.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fpic {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)),url("/assets/imgs/fonclasses/TempleofMalady.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fhch {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/assets/imgs/fonclasses/ScouredBarrens.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fmon {
  --background: none;
    background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("/assets/imgs/fonclasses/Island2021.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}